# ========== OS 별 불필요한 파일 ==========
.DS_Store
Thumbs.db

# ========== Maven ==========
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# ========== Eclipse & STS(Spring Tool Suite) ==========
*.classpath
*.project
*.settings/
.apt_generated/
.factorypath
.springBeans
.sts4-cache/

# ========== 로그 파일 ==========
*.log

# ========== 환경 설정/임시 파일 ==========
*.tmp
*.bak
*.swp
*.swo

# ========== 테스트 출력 (JUnit, TestNG 등) ==========
/test-output/

# ========== IDE 무관 공통 ==========
*.iml
.idea/
.vscode/
